:root {
  --fontColor: black;
  --fontWeight: 549;
  --fontSize: 39px;
  --lineHeight: 30px;
  --headerMargin: 30px 190px;
  --imageWidth: 700px;
  --imageHeight: 700px;
}

body {
  font-family: sans-serif;
}

.block1 {
  
}

.block2 {
  display: flex;
  background-color: white;
  height: 900px;
}


/* NAVBAR BEGIN */

.NavBar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.NavBar-main {
  display: flex;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
  background-color: white;
}

.nav-title {
  padding: 10px 30px;
  font-size: 15px;
}

#logo-title {
  font-size: 26px;
  font-weight: 600;
}

#logo {
  height: 28px;
  margin: 0px 15px;;
}

/* NAVBAR END */




/* TYPEWRITER BEGINS HERE */


.form-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: 250px;
  margin: 0px 5px;
  height: 30px;
  border-color: lightgrey;
  border-radius: 8px;
  border-width: 1px;
  padding: 0px 10px;
}

.btn {
  margin: 17px 0px;
  width: 550px;
  height: 40px;
  color: white;
  font-size: 17px;
  background-color: rgb(22, 22, 22);
  border: none;
  border-radius: 8px;
  margin-right: 16px;; 
  cursor: pointer;
}

.btn:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 3px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 3px #c1c1c1;
          box-shadow: inset 0px 0px 3px #c1c1c1;
   outline: none;
}

.btn:hover {
  background-color: rgb(34, 34, 34);
}

.btn-outer {
  display: flex;
  justify-content: center;
}

.waitlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align items center makes it center vertically */
  max-width: 500px;
  margin: 30px auto;
}

.waitlist-container-inner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  /* margin: 10px 10px; */
}

.wrapper {
  display: inline-flex;
  /* width: 30vw; */
  width: 580px;
  /* height: 12vh; */
  height: 120px;
}

.wrapper .static-txt {
  color: var(--fontColor);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
}

.static-subheader {
  line-height: var(--lineHeight);
  font-weight: 300;
  margin: 10px 0px 30px 0px;
}

.static-txt {
  width: 550px;
  margin-top: 14px;
  /* width: 29.7vw; */
}

.wrapper .dynamic-txts {
  position: relative;
  margin-left: 0px;
  /* width: 13vw; */
  width: 258px;
  line-height: 45px;
  margin-top: 59px;
  overflow: hidden;
} 

.dynamic-txts {
  margin-left: 0px;
  width: 10vw;
  padding: 0px;
}

.dynamic-txts li {
  position: relative;
  top: 0;
  /* these above two are for slide */
  color:var(--fontColor);
  list-style: none;
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  animation: slide 10.5s steps(3) infinite;
  /* steps are number of words, change to 6, since 6 / 2 with 3 words  */
}

@keyframes slide {
  100% {
    top: -135px;
      /* this is 2nd one copy and pasted with animation line above */
  }
}

.dynamic-txts li span {
  position: relative;
  top: 0px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  /* this should be same color as background of website */
  border-left: 2px solid grey;
  /* this is the ticker cursor color */
  animation: 
    typing 3.5s steps(7) infinite,
    blink-caret .75s step-end infinite;
  /* steps should be how many letters in longest word */
}

@keyframes typing {
  15%, 85% {
    left: calc(100% + 4px);
  }
  100%{
    left: 90;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--fontColor) }
}

/* TYPEWRITER ENDS HERE */





.block-2-right {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#dashboard {
  width: 700px;
  height: 450px;
  margin-right: 100px;
  margin-left: 30px;
  /* margin: 10px 10px 50px 50px; */
}





/* BLOCK 3 */


.block3-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  height: 1100px;
}

.block3-right {
    width: 580px;
}

.block3-left {
 
}


.static3-header {
  font-size: var(--fontSize);
  
}


.static3-subheader {
  line-height: var(--lineHeight);
  font-weight: 300;
 
}

#section3-image {
  width: var(--imageWidth);
  height: var(--imageHeight);
  margin-right: 190px;
}






/* BLOCK 4 */

.block4-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 1100px;
}



.block4-right {
 
}

.block4-left {
  width: 580px;
}


.static4-header {
  font-size: var(--fontSize);
 
}

.static4-subheader {
  line-height: var(--lineHeight);
  font-weight: 300;
}

#section4-image {
  width: var(--imageWidth);
  height: var(--imageHeight);
  margin-left: 190px;
}







.block4-outer {
  display: flex;
  flex-direction: column;
}
